.menu-bar{
    padding: 1rem;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    margin: 0px !important;
    font-size: 1rem;
    font-family: poppins;
    font-weight: 700;
}