.alert-title{
   font-family: poppins !important;
   font-size: 1.5rem;
   font-weight: 700 !important; 
   background-color: white !important;
   margin-bottom: 1rem;
}

.alert-desc{
    font-size: 1.3rem;
    font-weight: 600;
}