.header{
    background-color: grey;
    padding: 2rem;
    font-weight: 700;
    font-size: 2rem;
}
.blog{
    padding: 0rem !important;
    border: none;
}
.blog-fields{
    padding: 2rem 1rem;
}
.text-field{
    margin-bottom: 1rem;
}