.header{
    background-color: green;
    padding: 1rem;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0rem !important;
}
.blog{
    padding: 0rem !important;
    border: none;
}
.blog-fields{
    padding: 1rem 1rem;
}
.text-field{
    margin-bottom: 1rem !important;
}
.label{
    font-size: 1rem;
    font-weight: 600;
}