.editorjs{
    border: 3px solid green;
    border-radius: 1rem;

}
.ce-toolbar{
    max-width: 100rem !important;
}
.cdx-block{
    max-width: 100rem !important;
}
.save_btn{
    background-color: green !important;
    margin-top: 2rem !important;
}

.blog-title{
    font-weight: 700;
    font-family: poppins;
    color: black;
}