.editorjs{
    border: 1px solid black;
    // display: flex;
    // justify-content: space-around;
}
.ce-toolbar{
    max-width: 100rem !important;
}
.cdx-block{
    max-width: 100rem !important;
}
.save_btn{
    background-color: green !important;
}