.top {
  margin-top: 1rem;
  font-family: cursive !important;
  margin-bottom: 1rem;
}
.container {
  background-color: #F0F1F3;
  padding: 3rem;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  margin-bottom: -10rem;
}
.blog-info {
  font-family: sans-serif;
  font-weight: 700;
}

.content {
//   padding: 0 5rem;
}
